{% extends 'SICLAAraBundle::araBase.html.twig' %}
{% block main %}

{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
<form action="" method="post">
	<h1>{{ 'Création d\'un nouveau propriétaire'}}</h1>
	<!-- Inclure formulaire PERSONNE -->
		{{ form_label(form.telephone2,'Téléphone N°2') }}
		{{ form_widget(form.telephone2) }}
		{{ form_label(form.courriel2,'Courriel N°2') }}
		{{ form_widget(form.courriel2) }}




	<button class="btn" type="submit">Valider</button>
</form>
{% endblock %}


	