
{% extends 'SICLAAraBundle::araBase.html.twig' %}
{% block main %}

{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
<div class="block">

	<form action="" method="post" novalidate="true">
		<h2>{{ 'Modification du logement'}}</h2>
	<div class="form">
	
	{{ form_label(form.typeLogement,'Type du logement :') }}
	{{ form_widget(form.typeLogement) }}
	
	{{ form_label(form.loyer,'Loyer hors charges :') }}
	{{ form_widget(form.loyer) }}
	
	{{ form_label(form.charges,'Montant des charges :') }}
	{{ form_widget(form.charges) }}
				
	{{ form_label(form.surface,'Surface du logement (en m²) :') }}
	{{ form_widget(form.surface) }}
		
	{{ form_label(form.nbChambres,'Nombre de chambres :') }}
	{{ form_widget(form.nbChambres) }}
	
	{{ form_label(form.meuble,'Logement meublé :')}}
	{{ form_widget(form.meuble) }}

	{{ form_label(form.consommationEnergie,'Consommation énergétique :') }}
	{{ form_widget(form.consommationEnergie) }}
				
	{{ form_label(form.emissionGes,'Emission de gaz à effet de serre :') }}
	{{ form_widget(form.emissionGes) }}			

	{{ form_label(form.ascenseur,'Ascenseur :') }}
	{{ form_widget(form.ascenseur) }}

	{{ form_label(form.sdbPrivative,'Salle de bains privative :') }}
	{{ form_widget(form.sdbPrivative) }}

	{{ form_label(form.equipement,'Equipements présents :') }}
	{{ form_widget(form.equipement) }}

				<button class="btn btn-warning" type="submit">Modifier</button>
		</form>
	</div>

	<div id="map" style="width: 300px; height: 300px;"></div>
	<div class="adresse">44 avenue georges clémenceau Besançon, France</div>
	<div class="adresse">6 rue gabriel plancon 25000 besançon</div>
	<div id="way"></div>
	
	<div class="energie">
		<div class="curseur_energie">
			<--
		</div>
	</div>
	
	<div class="ges">
		<div class="curseur_ges">
			<--
		</div>
	</div>
</div>
	
	
		
{% endblock %}


