{% extends 'SICLAAraBundle::araBase.html.twig' %}

{% block main %}
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
<form action="" method="post">
	<h1>{{ 'Création d\'un nouveau logement'}}</h1>
	
	{{ form_label(form.typeLogement,'Type du logement :') }}
	{{ form_widget(form.typeLogement) }}
	
	{{ form_label(form.loyer,'Loyer hors charges :') }}
	{{ form_widget(form.loyer) }}
	
	{{ form_label(form.charges,'Montant des charges :') }}
	{{ form_widget(form.charges) }}
	
	{{ form_label(form.surface,'Surface du logement (en m²) :') }}
	{{ form_widget(form.surface) }}
	
	{{ form_label(form.nbChambres,'De combien de chambres le logement dispose-t-il ?') }}
	{{ form_widget(form.nbChambres) }}
	
	{{ form_label(form.meuble,'Le logement est-il meublé ?') }}
	{{ form_widget(form.meuble) }}
	
	{{ form_label(form.ascenseur,'Le logement dispose-t-il d\'un ascenseur ?') }}
	{{ form_widget(form.ascenseur) }}
	
	{{ form_label(form.consommationEnergie,'Consommation énergétique :') }}
	{{ form_widget(form.consommationEnergie) }}
				
	{{ form_label(form.emissionGes,'Emission de gaz à effet de serre :') }}
	{{ form_widget(form.emissionGes) }}	
	
	{{ form_label(form.sdbPrivative,'Le logement dispose-t-il d\'une salle de bains privative ?') }}
	{{ form_widget(form.sdbPrivative) }}
	
	{{ form_label(form.equipement,'Le logement dispose des équipements suivants :') }}
	{{ form_widget(form.equipement) }}

	<button class="btn btn-success" type="submit">Valider</button>
</form>
{% endblock %}