{% extends 'SICLAAraBundle::base.html.twig' %}

{% block main %}
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
{% form_theme form 'SICLAHydraBundle:Form:fields.html.twig' %}
<form action="" method="post">
	<h1>{{ 'Création d\'un nouveau logement'}}</h1>
	<div class="block-left">
	<h3>Détails du logement</h3>
	{{ form_label(form.typeLogement,'Type du logement :') }}
	{{ form_widget(form.typeLogement) }}
	
	{{ form_label(form.loyer,'Loyer hors charges :') }}
	{{ form_widget(form.loyer) }}
	
	{{ form_label(form.charges,'Montant des charges :') }}
	{{ form_widget(form.charges) }}
	
	{{ form_label(form.echeanceLoyer,'Échéance du loyer :') }}
	{{ form_widget(form.echeanceLoyer) }}
	
	{{ form_label(form.debutDispo,'Disponible dés le :') }}
	{{ form_widget(form.debutDispo) }}
	
	{{ form_label(form.finDispo,'Disponible jusqu\'au :') }}
	{{ form_widget(form.finDispo) }}
	
	{{ form_label(form.surface,'Surface du logement (en m²) :') }}
	{{ form_widget(form.surface) }}
	
	{{ form_label(form.nbChambres,'De combien de chambres le logement dispose-t-il ?') }}
	{{ form_widget(form.nbChambres) }}
	
	{{ form_label(form.meuble,'Le logement est-il meublé ?') }}
	{{ form_widget(form.meuble) }}
	
	{{ form_label(form.ascenseur,'Le logement dispose-t-il d\'un ascenseur ?') }}
	{{ form_widget(form.ascenseur) }}
	
	{{ form_label(form.consommationEnergie,'Consommation énergétique :') }}
	{{ form_widget(form.consommationEnergie) }}
				
	{{ form_label(form.emissionGes,'Emission de gaz à effet de serre :') }}
	{{ form_widget(form.emissionGes) }}	
	
	{{ form_label(form.sdbPrivative,'Le logement dispose-t-il d\'une salle de bains privative ?') }}
	{{ form_widget(form.sdbPrivative) }}
	
	{{ form_label(form.equipement,'Le logement dispose des équipements suivants :') }}
	{{ form_widget(form.equipement) }}
	
	{{ form_label(form.annonce,'Contenu de votre annonce') }}
	{{ form_widget(form.annonce) }}
	</div>
	<div class="block-right">
	<h3>Adresse du logement</h3>
	{{ form_row(form.address.streetNumber) }}	
	{{ form_row(form.address.streetNumberSuffix) }}
	{{ form_row(form.address.streetType) }}		
	{{ form_row(form.address.streetName) }}
	{{ form_row(form.address.postalCode) }}		
	{{ form_row(form.address.majorMunicipality) }}
	<button class="btn btn-success" type="submit">Valider</button>
	</div>

	
</form>
{% endblock %}