{% extends 'SICLAAraBundle::base.html.twig' %}
{% block main %}
<div class="block">
	<div class="block-left">
<table class="table table-hover">
	<tbody>
		<tr>
			<th>Type du logement</th>
			<td>{{ object.typeLogement.getLibelle() }}</td>
		</tr>
		<tr>
			<th>Loyer hors charges</th>
			<td>{{ object.loyer }}€</td>
		</tr>
		<tr>
			<th>Montant des charges</th>
			<td>{{ object.charges }}€</td>
		</tr>
		<tr>
			<th>Surface du logement</th>
			<td>{{ object.surface }}m²</td>
		</tr>
		<tr>
			<th>Nombre de chambres</th>
			<td>{{ object.nbChambres }}</td>
		</tr>
		<tr>
			<th>Logement meublé</th>
			{% if object.meuble==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		<tr>
			<th>Ascenseur</th>
			{% if object.ascenseur==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		<tr>
			<th>Consommation énergétique</th>
			<td class="consommationEnergie">{{ object.consommationEnergie }} </td>
		</tr>
		<tr>
			<th>Émission de gaz à effet de serre</th>
			<td class="emissionGes">{{ object.emissionGes }} </td>
		</tr>
		<tr>
			<th>Salle de bains privative</th>
			{% if object.sdbPrivative==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
	</tbody>
</table>
<p class="label">Adresse : </p>
<pre class="adresse">
{{ object.address.streetNumber }}{{ object.address.streetNumberSuffix }} {{ object.address.streetType }} {{ object.address.streetName }}
{{ object.address.postalCode }} {{ object.address.majorMunicipality |capitalize }}
</pre>			
<div id="way"><p class="label">Distance par rapport au CLA :</p></div>

</div>
<div class="block-right">
	<div id="map" style="width: 450px; height: 300px;"></div>
	<div class="alert alert-error"></div>
	
	<div class="energie">
		<div class="curseur_energie">
			<--
		</div>
	</div>
	<div class="ges">
		<div class="curseur_ges">
			<--
		</div>
	</div>
	
</div>
</div>

{% endblock %}	