{% extends 'SICLAAraBundle::base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@SICLAAraBundle/Resources/public/js/*'%}
			<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAS7Uc8vQAWOsnT6bA7ikC9xhy7Dry25S8&sensor=false"></script>
			<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}	
			
{% block main %}
<div class="block">
	<div class="block-left">
<table class="table table-hover">
	<tbody>
		<tr>
			<th>Type du logement</th>
			<td>{{ object.typeLogement.getLibelle() }}</td>
		</tr>
		<tr>
			<th>Loyer hors charges</th>
			<td>{{ object.loyer }}€</td>
		</tr>
		<tr>
			<th>Montant des charges</th>
			<td>{{ object.charges }}€</td>
		</tr>
		<tr>
			<th>Échéance du loyer</th>
			{% if object.echeanceLoyer=="mois"%}
				<td>Paiement au mois</td>
			{% else %}
				<td>Paiement à la semaine</td>
			{% endif %}
		</tr>
		<tr>
			<th>Surface du logement</th>
			<td>{{ object.surface }}m²</td>
		</tr>
		<tr>
			<th>Nombre de chambres</th>
			<td>{{ object.nbChambres }}</td>
		</tr>
		<tr>
			<th>Logement meublé</th>
			{% if object.meuble==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		<tr>
			<th>Ascenseur</th>
			{% if object.ascenseur==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		<tr>
			<th>Consommation énergétique</th>
			<td class="consommationEnergie">{{ object.consommationEnergie }} </td>
		</tr>
		<tr>
			<th>Émission de gaz à effet de serre</th>
			<td class="emissionGes">{{ object.emissionGes }} </td>
		</tr>
		<tr>
			<th>Salle de bains privative</th>
			{% if object.sdbPrivative==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		<tr>
			<th>Équipements</th>
			<td>{% for equipement in object.equipement %}
				<li>{{equipement.getLibelle}}<br/></li>
				{% endfor %}
			</td>
	</tbody>
</table>
<p class="label">Adresse : </p>
<pre class="adresse">
{{ object.address.streetNumber }}{{ object.address.streetNumberSuffix }} {{ object.address.streetType }} {{ object.address.streetName }}
{{ object.address.postalCode }} {{ object.address.majorMunicipality |capitalize }}
</pre>			
<div id="way"><p class="label">Distance par rapport au CLA :</p></div>

<div class="annonce">

			 {% if object.statut.getLibelle()=="Validée" %} 
			<p class="label">Annonce : </p>
			<div class="date">Date de création : {% for version in versions %}  {% if loop.first %} {{version.getRevisionDate|date('d-m-Y') }} {% endif %} {% endfor %}</div>
			<div class="date">Date de dernière modification : {{ version.getRevisionDate|date('d-m-Y') }}</div>
			<div>{{ object.annonce }}</div>
				<div class="btn-toolbar actions-condensed">
										<div class="btn-group">
											<a href="{{ path('sicla_ara_archivate_logement', { 'node_id': node.id }) }}" class="btn btn-mini" title="Archiver"><i class="icon-trash"></i></a>
											<a href="{{ path('sidus_show_node', { 'node_id': node.id }) }}" class="btn btn-mini" title="View"><i class="icon-search"></i></a>
											<a href="{{ path('sidus_edit_node', { 'node_id': node.id }) }}" class="btn btn-mini" title="Edit"><i class="icon-pencil"></i></a>
											<a href="{{ path('sidus_favorite_node', { 'node_id': node.id }) }}" class="btn btn-mini" title="Add to favorites"><i class="icon-star-empty"></i></a>
											<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
												<i class="icon-wrench"></i> <span class="caret"></span>
											</button>
											<ul class="dropdown-menu pull-right">
												<li><a href="{{ path('sidus_move_node', { 'node_id': node.id }) }}"><i class="icon-arrow-right"></i> Move</a></li>
												<li><a href="{{ path('sidus_link_node', { 'node_id': node.id }) }}"><i class="icon-share-alt"></i> Link</a></li>
												<li><a href="{{ path('sidus_copy_node', { 'node_id': node.id }) }}"><i class="icon-repeat"></i> Copy</a></li>
												<li><a href="{{ path('sidus_node_permissions', { 'node_id': node.id }) }}"><i class="icon-lock"></i> Permissions</a></li>
												<li class="divider"></li>
												<li><a href="{{ path('sidus_node_history', { 'node_id': node.id }) }}"><i class="icon-list"></i> History</a></li>
												<li><a href="{{ path('sidus_node_feed', { 'node_id': node.id }) }}"><i class="icon-signal"></i> Feed</a></li>
												<li class="divider"></li>
												<li class="disabled"><a href="{{ path('sidus_delete_node', { 'node_id': node.id }) }}"><i class="icon-trash icon-white"></i> Delete</a></li>
											</ul>
										</div>
				</div>
			{% endif %}
</div>
	
</div>
<div class="block-right">
	<div id="map" style="width: 450px; height: 300px;"></div>
	<div class="alert alert-error"></div>
	
	<div class="energie">
		<div class="curseur_energie">
			<--
		</div>
	</div>
	<div class="ges">
		<div class="curseur_ges">
			<--
		</div>
	</div>
	
</div>
</div>

{% endblock %}	