{% extends 'SidusBundle::base.html.twig' %}

{% block main %}
	<table class="record_properties">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ object.id }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ object.title }}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{ object.username }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ object.password }}</td>
			</tr>
			<tr>
				<th>Salt</th>
				<td>{{ object.salt }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ object.email }}</td>
			</tr>
			<tr>
				<th>Expireat</th>
				<td>{{ object.expireAt|date('Y-m-d H:i:s') }}</td>
			</tr>
			<tr>
				<th>Isinactive</th>
				<td>{{ object.isInactive }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}