{# personne #}
{% block _sicla_hydrabundle_persontype_firstName_label %}
<div class="firstName">
			   {{ form_label(form,'Nom') }}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_lastName_label %}
<div class="lastName">
			   {{ form_label(form,'Prénom') }}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_maidenName_label %}
<div class="maidenName">
			   {{ form_label(form,'Nom de jeune fille') }}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_gender_label %}
<div class="gender">
			   {{ form_label(form,'Genre') }}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_birthday_label %}
<div class="birthday">
			   {{ form_label(form,'Date de naissance')}}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_phones_label %}
<div class="phones">
			   {{ form_label(form,'Numéro de téléphone')}}
</div>
{% endblock %}
{% block _sicla_hydrabundle_persontype_addresses_label %}
<div class="addresses">
			   {{ form_label(form,'Adresse')}}
</div>
{% endblock %}
{# adresses d'une personne #}
{% block _sicla_hydrabundle_persontype_addresses___name___streetNumber_label %}
<div class="streetNumber">
			   {{ form_label(form,'Numéro de rue') }}
</div>
{% endblock %}
{# adresse #}
{% block _sicla_hydrabundle_addresstype_streetNumber_label %}
<div class="streetNumber">
			   {{ form_label(form,'Numéro de rue') }}
</div>
{% endblock %}
{% block _sicla_hydrabundle_addresstype_streetNumberSuffix_label %}
<div class="streetNumberSuffix">
		{{ form_label(form,'Suffixe du n° de voie') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_streetType_label %}
<div class="streetType">		
		{{ form_label(form,'Type de voie:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_streetName_label %}
<div class="streetName">	
		{{ form_label(form,'Nom de la voie:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_addressType_label %}
<div class="addressType">		
		{{ form_label(form,'Type de bâtiment:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_addressTypeNumber_label %}
<div class="addressTypeNumber">		
		{{ form_label(form,'Numéro de bâtiment:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_minorMunicipality_label %}
<div class="minorMunicipality">		
		{{ form_label(form,'Hameau:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_majorMunicipality_label %}
<div class="majorMunicipality">		
		{{ form_label(form,'Ville:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_governinsDistrict_label %}
<div class="governinsDistrict">	
		{{ form_label(form,'District:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_postalCode_label %}
<div class="postalCode">		
		{{ form_label(form,'Code postal:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_country_label %}
<div class="country">		
		{{ form_label(form,'Pays:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_cedex_label %}
											<div class="cedex">		
		{{ form_label(form,'Cédex:') }}
												</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_cedexNumber_label %}
<div class="cedexNumber">		
		{{ form_label(form,'Numéro du cédex:') }}
</div>
{% endblock %}					
{% block _sicla_hydrabundle_addresstype_postofficeNumber_label %}
<div class="postofficeNumber">		
	{{ form_label(form,'Numéro de boite postale:') }}
</div>
{% endblock %}					