{% extends 'SICLAAraBundle::araBase.html.twig' %}
{% block main %}
{% form_theme form 'SICLAHydraBundle:Form:fields.html.twig' %}
	<form action="" method="post">
	<h1>{{ 'Création d\'un nouveau Téléphone'}}</h1>
	<div class="phone">
		{{ form_label(form.diallingCode)}}
		{{ form_widget(form.diallingCode)}}
		
		{{ form_label(form.phoneNumber) }}
		{{ form_widget(form.phoneNumber) }}
	</div>
		<button class="btn btn-success" type="submit">Valider</button>
</form>
{% endblock %}