{% extends 'SICLAAraBundle::base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@SICLAAraBundle/Resources/public/js/apprenant.js'%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}	
{% block main %}
	<table  class="table table-striped">
	<tbody>
		{# informations relatives aux stagiaires #}
		<tr>
			<th >ID </th>
			<td id="id_stagiaire">{{ object.idStagiaire }}</td>
		</tr>
		<tr>
			<th >Nom</th>
			<td>{{object.nom}}</td>
		</tr>
		<tr>
			<th >Prénom</th>
			<td>{{object.prenom}}</td>
		</tr>
		<tr>
			<th >Pays</th>
			<td>{{object.pays}}</td>
		</tr>
		<tr>
			<th >Adresse mail </th>
			<td>{{object.mail}}</td>
		</tr>
		<tr>
			<th >Date de naissance</th>
			<td>{{object.ddn|date('d-m-Y')}}</td>
		</tr>
		<tr>
			<th >Tel perso</th>
			<td>{{object.tel}}</td>
		</tr>
		<tr>
			<th >Adresse</th>
			<td>{{object.adresse}}</td>
		</tr>
		<tr>
			<th >Débutant en français</th>
			{%if object.debutantFrancais==1 %}
				<td>Oui</td>
			{% else %}
				<td>Non</td>
			{% endif %}
		</tr>
		
		<tr>
			<th >Nom de la formation </th>
			<td >{{object.nomFormation}}</td>
		</tr>
		
		<tr>
			<th >Date de début de formation </th>
			<td c>{{object.debutFormation|date('d-m-Y')}}</td>
		</tr>
		
		<tr>
			<th >Date de fin de formation </th>
			<td >{{object.finFormation|date('d-m-Y')}}</td>
		</tr>
		
		<tr>
			<th >Type d'hébergement </th>
			<td class="type_hebergement">{{object.typeHebergement}}</td>
		</tr>
		
		{# fin des informations relatives aux stagiaires #}
		<tr class="famille_accueil">
			<th >Handicap physique</th>
			{%if object.handicapPhysique==1 %}
				<td>Oui</td>
		</tr>
		<tr class="famille_accueil">
				<th >Détails concernant cet handicap</th>
				<td>{{ object.detailHandicap }}</td>
		</tr>
			{% else %}
			<td>Non</td>
		</tr>
			{% endif %}
	<tr class="famille_accueil">
		<th >Traitement médical</th>
			{%if object.traitementMedical==1 %}
			<td>Oui</td>
	</tr>
	<tr class="famille_accueil">
			<th >Détails concernant ce traitement</th>
			<td>{{ object.detailTraitement }}</td>
	</tr>
			{% else %}
			<td>Non</td>
	</tr>
			{% endif %}	
	<tr class="famille_accueil semi-independance">
		<th >Allergies animales</th>
			{%if object.allergiesAnimaux==1 %}
			<td>Oui</td>
	</tr>
	<tr class="famille_accueil semi-independance">
			<th >Détails concernant ces allergies</th>
			<td>{{ object.detailAllergiesAnimaux }}</td>
	</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}		
	<tr class="famille_accueil semi-independance">
			<th >Régime alimentaire</th>
			<td>{{object.regimeAlimentaire.libelle}}</td>
	</tr>
	<tr class="famille_accueil semi-independance">
		<th >Allergies alimentaires</th>
			{%if object.allergiesAlimentaires==1 %}
			<td>Oui</td>
		</tr>
		<tr class="famille_accueil semi-independance">
			<th >Détails concernant ces allergies</th>
			<td>{{ object.detailAllergiesAlimentaires }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}		
	<tr class="famille_accueil semi-independance">
		<th >Allergies autres</th>
			{%if object.allergiesAutres==1 %}
			<td>Oui</td>
		</tr>
		<tr>
			<th >Détails concernant ces allergies</th>
			<td>{{ object.detailAllergiesAutres }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}
	<tr class="famille_accueil semi-independance">
		<th >Fumeur</th>
				{%if object.fumeur==1 %}
			<td>Oui</td>
				{% else %}
			<td>Non</td>
				{% endif %}		
		</tr>
		<tr class="famille_accueil semi-independance">
			<th >Tolérant à la fumée</th>
				{%if object.tolerantFumee==1 %}
				<td>Oui</td>
				{% else %}
				<td>Non</td>
				{% endif %}		
			</tr>
			<tr class="famille_accueil semi-independance">
				<th >Véhicule à disposition</th>
				{%if object.vehicule==1 %}
					<td>Oui</td>
				{% else %}
					<td>Non</td>
				{% endif %}	
				</tr>
				<tr class="famille_accueil logement">
					<th >Voeux personnels</th>
			{%if object.voeuxPersonnels==1 %}
						<td>Oui</td>
					</tr>
					<tr class="famille_accueil logement">
						<th >Détails des voeux</th>
						<td>{{ object.detailVoeuxPersonnels }}</td>
					</tr>
			{% else %}
					<td>Non</td>
				</tr>
			{% endif %}
				<tr class="famille_accueil">
					<th >Loisirs à partager</th>
			{%if object.loisirsParticuliers==1 %}
						<td>Oui</td>
					</tr>
					<tr class="famille_accueil">
						<th >Détails des loisirs</th>
						<td>{{ object.detailLoisirsParticuliers }}</td>
					</tr>
			{% else %}
					<td>Non</td>
				</tr>
			{% endif %}	
			<tr class="famille_accueil">
				<th >Loisirs</th>
					<td>
						<ul>
							{% for loisir in object.Loisirs %}
							<li>{{ loisir.getLibelle() }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				
				<tr class="logement">
					<th>Nombre de personnes à loger</th>
					<td>{{object.nbPersonne}}</td>
				</tr>
				<tr class="logement">
					<th>Nombre de lits</th>
					<td>{{object.nbLit}}</td>
				</tr>
				<tr class="logement">
					<th>Loyer maximum</th>
					<td>{{object.loyerMax}}</td>
				</tr>
				<tr>
				<th >Affectations</th>
					<td>
						<ul>
							{% for affectation in object.affectations %}
							<li>{{ affectation.id }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

{% endblock %}