{% extends 'SICLAAraBundle::base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@SICLAAraBundle/Resources/public/js/apprenant.js'%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}	
{% block main %}

<table >
	<tbody>
		{# informations relatives aux stagiaires #}
		<tr>
			<th class="record_properties">ID :</th>
			<td id="id_stagiaire" class="id_stagiaire">{{ object.idStagiaire }}</td>
		</tr>
		<tr>
			<th class="record_properties">Nom:</th>
			<td class="nom"></td>
		</tr>
		<tr>
			<th class="record_properties">Prénom:</th>
			<td class="prenom"></td>
		</tr>
		<tr>
			<th class="record_properties">Pays:</th>
			<td class="pays"></td>
		</tr>
		<tr>
			<th class="record_properties">Adresse mail:</th>
			<td class="mail"></td>
		</tr>
		<tr>
			<th class="record_properties">Date de naissance:</th>
			<td class="ddn"></td>
		</tr>
		<tr>
			<th class="record_properties">Tel perso:</th>
			<td class="tel"></td>
		</tr>
		<tr>
			<th class="record_properties">Adresse:</th>
			<td class="adresse"></td>
		</tr>
		<tr>
			<th class="record_properties">Niveau en français:</th>
			<td class="niveau"></td>
		</tr>
		{# fin des informations relatives aux stagiaires #}
		<tr>
			<th class="record_properties">Handicap physique:</th>
			{%if object.handicapPhysique==1 %}
				<td>Oui</td>
			</tr>
			<tr>
				<th class="record_properties">Détails concernant cet handicap:</th>
				<td>{{ object.detailHandicap }}</td>
			</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}
	<tr>
		<th class="record_properties">Traitement médical:</th>
			{%if object.traitementMedical==1 %}
			<td>Oui</td>
		</tr>
		<tr>
			<th class="record_properties">Détails concernant ce traitement:</th>
			<td>{{ object.detailTraitement }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}	
	<tr>
		<th class="record_properties">Allergies animales:</th>
			{%if object.allergiesAnimaux==1 %}
			<td>Oui</td>
		</tr>
		<tr>
			<th class="record_properties">Détails concernant ces allergies:</th>
			<td>{{ object.detailAllergiesAnimaux }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}		
	<tr>
		<th class="record_properties">Allergies alimentaires:</th>
			{%if object.allergiesAlimentaires==1 %}
			<td>Oui</td>
		</tr>
		<tr>
			<th class="record_properties">Détails concernant ces allergies:</th>
			<td>{{ object.detailAllergiesAlimentaires }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}		
	<tr>
		<th class="record_properties">Allergies autres:</th>
			{%if object.allergiesAutres==1 %}
			<td>Oui</td>
		</tr>
		<tr>
			<th class="record_properties">Détails concernant ces allergies:</th>
			<td>{{ object.detailAllergiesAutres }}</td>
		</tr>
			{% else %}
		<td>Non</td>
	</tr>
			{% endif %}
	<tr>
		<th class="record_properties">Fumeur:</th>
				{%if object.fumeur==1 %}
			<td>Oui</td>
				{% else %}
			<td>Non</td>
				{% endif %}		
		</tr>
		<tr>
			<th class="record_properties">Tolérant à la fumée:</th>
				{%if object.tolerantFumee==1 %}
				<td>Oui</td>
				{% else %}
				<td>Non</td>
				{% endif %}		
			</tr>
			<tr>
				<th class="record_properties">Véhicule à disposition:</th>
				{%if object.vehicule==1 %}
					<td>Oui</td>
				{% else %}
					<td>Non</td>
				{% endif %}	
				</tr>
				<tr>
					<th class="record_properties">Voeux personnels:</th>
			{%if object.voeuxPersonnels==1 %}
						<td>Oui</td>
					</tr>
					<tr>
						<th class="record_properties">Détails des voeux:</th>
						<td>{{ object.detailVoeuxPersonnels }}</td>
					</tr>
			{% else %}
					<td>Non</td>
				</tr>
			{% endif %}
				<tr>
					<th class="record_properties">Loisirs à partager:</th>
			{%if object.loisirsParticuliers==1 %}
						<td>Oui</td>
					</tr>
					<tr>
						<th class="record_properties">Détails des loisirs:</th>
						<td>{{ object.detailLoisirsParticuliers }}</td>
					</tr>
			{% else %}
					<td>Non</td>
				</tr>
			{% endif %}	
			<tr>
				<th class="record_properties">Loisirs:</th>
					<td>
						<ul>
							{% for loisir in object.Loisirs %}
							<li>{{ loisir.getLibelle() }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
				<th class="record_properties">Affectations:</th>
					<td>
						<ul>
							{% for affectation in object.affectations %}
							<li>{{ affectation.id }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
{% endblock %}