{% extends 'SICLAAraBundle::araBase.html.twig' %}

{% block message %}
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Warning!</strong> This is a warning example.
</div>
{% endblock %}

{% block main %}
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}

<h1>Créer une nouvelle famille d'accueil</h1>
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
<form action="" method="post">

	<h1>{{ 'Formulaire Famille d\'accueil'}}</h1>
	{{ form_label(form.dureeSejour,'Durée du séjour possible (en semaines) :') }}
	{{ form_widget(form.dureeSejour) }}

	{{ form_label(form.fumeur,'Êtes-vous fumeur ?') }}
	{{ form_widget(form.fumeur	) }}

	{{ form_label(form.RegimeAlimentaire, 'Votre régime alimentaire') }}
	{{ form_widget(form.RegimeAlimentaire) }}

	{{ form_label(form.adaptableRegimeAlimentaire,'Pouvez-vous vous adapter à un régime alimentaire différent du votre ?') }}
	{{ form_widget(form.adaptableRegimeAlimentaire) }}

	{{ form_label(form.nbEnfants,'Combien d\'enfants avez-vous ?') }}
	{{ form_widget(form.nbEnfants) }}

	{{ form_label(form.Loisirs, 'Quels sont vos loisirs ?') }}
	{{ form_widget(form.Loisirs) }}

	{{ form_label(form.animaux, 'Quels types d\'animaux possédez-vous ?') }}
	{{ form_widget(form.animaux) }}

	{{ form_label(form.nbLit, 'Combien de lits sont-ils disponibles ?') }}
	{{ form_widget(form.nbLit) }}

	{{ form_label(form.ascenseur,'Votre logement dispose-t-il d\'un ascenseur ?') }}
	{{ form_widget(form.ascenseur) }}
	<!-- Création d'une nouvelle personne pour chaque enfant -->

	<button class="btn btn-warning" type="submit">Modifier</button>
</form>
{% endblock %}