{% extends 'SICLAAraBundle::base.html.twig' %}
{% block main %}
<table  class="table table-hover">
	<tbody>
		<tr>
			<th>Id:</th>
			<td>{{ object.id }}</td>
		</tr>
		
		<tr>
		<th>Fumeur:</th>
				{%if object.fumeur==1 %}
			<td>Oui</td>
				{% else %}
			<td>Non</td>
				{% endif %}		
		</tr>
		<tr>
		<th>Régime alimentaire:</th>
			<td>{{ object.RegimeAlimentaire.getLibelle() }}</td>
		</tr>
		<tr>
		<th>Adaptable à un régime alimentaire:</th>
				{%if object.adaptableRegimeAlimentaire==1 %}
			<td>Oui</td>
				{% else %}
			<td>Non</td>
				{% endif %}		
		</tr>
		<tr>
			<th>Nombre d'enfants:</th>
			<td>{{ object.nbEnfants }}</td>
		</tr>
		<tr>
			<th>Loisirs:</th>
			<td>
				<ul>
					{% for loisir in object.Loisirs %}
					<li>{{ loisir.getLibelle() }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th>Animaux:</th>
			<td>
				<ul>
					{% for animal in object.animaux %}
					<li>{{ animal.getLibelle() }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th>Nombre de lits:</th>
			<td>{{ object.nbLit }}</td>
		</tr>
		<tr>
		<th>Ascenseur:</th>
				{%if object.ascenseur==1 %}
			<td>Oui</td>
				{% else %}
			<td>Non</td>
				{% endif %}		
		</tr>
		<tr>
				<th>Affectations:</th>
					<td>
						<ul>
							{% for affectation in object.affectationsDemandes %}
							<li>{{ affectation.id }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	
{% endblock %}