{% extends 'SICLAHydraBundle:Default:show.html.twig' %}

{% block main %}
<table >
	<tbody>
		<tr>
			<th class="record_properties">Id:</th>
			<td>{{ object.id }}</td>
			<td>{{ object.firstname }}</td>
			<td>{{ object.lastname }}</td>
			<td>{{ object.maidenName }}</td>
			<td>{{ object.gender }}</td>
			<td>{{ object.birthday |date('d-m-Y') }}</td>
		</tr>
		<tr>
	</tbody>
</table>
{% endblock %}