{% extends 'SICLAAraBundle::base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts %}
<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}	

{% block main %}
<h3>Choix de la famille</h3>
<form method="POST">
		
	{{ form_label(form.famille,"Sélection de la famille d'accueil :") }}
	{{ form_widget(form.famille) }}	
	
	{{ form_label(form.statutFamille,"Statut :") }}
	{{ form_widget(form.statutFamille) }}	
		
	{{ form_label(form.dateArrivee,"Date de début d'affectation :") }}
	{{ form_widget(form.dateArrivee) }}	
		
	{{ form_label(form.dateDepart,"Date de fin d'affectation :") }}
	{{ form_widget(form.dateDepart) }}		<br/>
	<button class="btn btn-success" type="submit">Valider l'affectation</button>
</form>

{% for famille in familles %}
	{{ famille.id }}
{% endfor %}


{% endblock %}
