{% extends 'SICLAAraBundle::base.html.twig' %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@SICLAAraBundle/Resources/public/js/apprenant.js'%}
<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}	

{% block main %}
{% form_theme form 'SICLAAraBundle:Form:form_div_layout.html.twig' %}
<form action="" method="post">
	{{ form_label(form.demande, 'Demande') }}
	{{ form_widget(form.demande) }}	

	{{ form_label(form.famille, 'Famille') }}
	{{ form_widget(form.famille) }}	


	<button class="btn" id="rechercher" type="submit">Établir l'affectation</button>
</form>

{% for famille in familles %}
<table id="famille-{{famille.id}}" class="table_famille" style="display: none;" >
	<tbody>
		<tr>
			<th class="record_properties">Id:</th>
			<td>{{ famille.id }}</td>
		</tr>

		<tr>
			<th class="record_properties">Fumeur:</th>
						{%if famille.fumeur==1 %}
			<td>Oui</td>
						{% else %}
			<td>Non</td>
						{% endif %}		
			</tr>
		<tr>
			<th class="record_properties">Régime alimentaire:</th>
			<td>{{ famille.RegimeAlimentaire.getLibelle() }}</td>
		</tr>
		<tr>
			<th class="record_properties">Adaptable à un régime alimentaire:</th>
			{%if famille.adaptableRegimeAlimentaire==1 %}
			<td>Oui</td>
			{% else %}
			<td>Non</td>
			{% endif %}		
		</tr>
		<tr>
			<th class="record_properties">Nombre d'enfants:</th>
			<td>{{ famille.nbEnfants }}</td>
		</tr>
		<tr>
			<th class="record_properties">Loisirs:</th>
			<td>
				<ul>
					{% for loisir in famille.Loisirs %}
					<li>{{ loisir.getLibelle() }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th class="record_properties">Animaux:</th>
			<td>
				<ul>
					{% for animal in famille.animaux %}
					<li>{{ animal.getLibelle() }}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th class="record_properties">Nombre de lits:</th>
			<td>{{ famille.nbLit }}</td>
		</tr>
		<tr>
			<th class="record_properties">Ascenseur:</th>
			{%if famille.ascenseur==1 %}
			<td>Oui</td>
			{% else %}
			<td>Non</td>
			{% endif %}		
		</tr>
	</tbody>
</table>
{% endfor %}

{% endblock %}
